body {
    background-color:lightgray;
}
header{
    margin-bottom:70px;
}

.example{
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);  
}

.example{
    background:#ffffff;
    width:60%;
    height:60%;
    padding:10%;
    margin:10%;
    border:1px solid #ccc;
    border-radius:8px;
    position:relative;
    font-family: sans-serif;
      
}

/* Style the search field */
 input[type=text] {
  padding: 5px;
  margin: 5px;
  align-content:center;
  font-size: 12px;
  opacity: 0.5;
  border: 1px solid lightgrey;
  float: left;
  width: 70%;
  height:20%
  background: #ffff; 
}

/* Style the submit button */
.button {
  float: left;
 width: 16%;
padding:5px;
margin: 5px;
background: linear-gradient(white, lightgrey, #cccc);
font-size: 12px;
cursor: pointer;
border:1px solid #eeee;
text-align: center;
border-radius:3px;
font-weight:bold; 
align-content:center;
}

button:hover {
  background: #ddd;
}

/* Clear floats */
.example:after {
  content: "";
  clear: both;
  display: table;
}
 

h3{
  
    font-family:sans-serif;
    font-weight:100;
    font-style: oblique;  
}

h4 {
    font-family: sans-serif;
    font-weight: 100;
}


h1 {
    
    font-family: sans-serif;
}

h2{
    font-family: sans-serif;
    
}

#myUL {
    list-style-type: none;
    padding:0;
    margin:0;
}


#myUL li a {
    border: 1px solid #ddd; 
    margin-top: -1px; 
    background-color: #ffff; 
    padding: 12px; 
    text-decoration: none; 
    font-size: 15px; 
    color: black; 
    display: block; 
}

#myUL li a:hover:not(.header) {
    background-color: #eee; 
}
    
    